<div class="container">

  
    <div class="row gap-5 centro center">
      <div cdkDropList
        class="col-3 container-drop"
        #ln1="cdkDropList"
        [cdkDropListData]="listNumbers1"
        id="cdk-drop-list-3"
        [cdkDropListConnectedTo]="[ln2]"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="!isDragEnabled"> <!-- Aquí se usa la bandera -->
        
        <div class="tools">
          <div class="circle">
            <span class="orange box"></span>
          </div>
          <h2 class="title-drop">Rechazado</h2> 
        </div>
         
        <div cdkDrag class="cards" *ngFor="let n of listNumbers1" [cdkDragDisabled]="!isDragEnabled"> <!-- Aquí se usa la bandera -->
          <div class="card orange" >
            <button   class=" btn-info  " (click)="getInfo(n)"  data-bs-toggle="modal" data-bs-target="#panificacionsingle"  >
              <img class="ico-btn" src="./assets/img/icon/ico-info.png" alt="">  
              </button>
              <div class="text" (click)="extractData(n,1)">
                <p class="tip">{{n.subproceso.proceso.nombre_proceso}}</p>
                <p class="tip text-tip">{{n.subproceso.nombre_subproceso}}</p>
                <p class="second-text">{{n.auditorResponsable.nombre}} {{n.auditorResponsable.apellido}}</p>

              </div>
          </div>
        </div>
      </div>
  
      <div cdkDropList
        class="col-3 container-drop"
        #ln2="cdkDropList"
        id="cdk-drop-list-4"
        [cdkDropListData]="listNumbers2"
        [cdkDropListConnectedTo]="[ln1, ln3]"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="!isDragEnabled2"> <!-- Aquí se usa la bandera -->
        
        <div class="tools">
          <div class="circle">
            <span class="blue box"></span>
          </div>
          <h2 class="title-drop">Finalizados Auditor</h2>
        </div>
    
        <div cdkDrag class="cards" *ngFor="let n of listNumbers2" [cdkDragDisabled]="!isDragEnabled2"> <!-- Aquí se usa la bandera -->
          <div class="card blue" >
            <button   class=" btn-info  " (click)="getInfo(n)"  data-bs-toggle="modal" data-bs-target="#panificacionsingle"  >
              <img class="ico-btn" src="./assets/img/icon/ico-info.png" alt="">
          
              </button>
              <div class="text" (click)="extractData(n,2)">
            <p class="tip">{{n.subproceso.proceso.nombre_proceso}}</p>
            <p class="tip text-tip">{{n.subproceso.nombre_subproceso}}</p>
            <p class="second-text">{{n.auditorResponsable.nombre}} {{n.auditorResponsable.apellido}}</p>

              </div>
          </div>
        </div>
      </div>
  
      <div cdkDropList
        class="col-3 container-drop"
        #ln3="cdkDropList"
        id="cdk-drop-list-5"
        [cdkDropListData]="listNumbers3"
        [cdkDropListConnectedTo]="[ln2]"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="!isDragEnabled3"> <!-- Aquí se usa la bandera -->
        
        <div class="tools">
          <div class="circle">
            <span class="green box"></span>
          </div>
          <h2 class="title-drop">Aprobado</h2>
        </div>
    
        <div cdkDrag class="cards" *ngFor="let n of listNumbers3" [cdkDragDisabled]="!isDragEnabled3"> <!-- Aquí se usa la bandera -->
          <div class="card green" >
            <button   class=" btn-info  " (click)="getInfo(n)"  data-bs-toggle="modal" data-bs-target="#panificacionsingle"  >
              <img class="ico-btn" src="./assets/img/icon/ico-info.png" alt="">
          
              </button>
            <!-- <button class="btn-close" (click)="anularSeleccion()" *ngIf="isDragEnabled3"></button> -->
            <div class="text" (click)="extractData(n,3)">
              <p class="tip">{{n.subproceso.proceso.nombre_proceso}}</p>
              <p class="tip text-tip text-finish">{{n.subproceso.nombre_subproceso}}</p>
              <p class="second-text">{{n.auditorResponsable.nombre}} {{n.auditorResponsable.apellido}}</p>
            </div>
          </div>
        </div>
      </div>
  
  
   
    </div>
  </div>
  
  
  <div class="container-fixed" *ngIf="isComent">
  
    <form class="form" [formGroup]="forma" name="contactForm" (ngSubmit)="guardarInforme()">
      <p class="title">Registra los avances del Proceso </p>
          <div class="">
          <label>
              
            Comentario
  
          </label>
          <textarea required="True" placeholder="" formControlName="comentario" class="input"></textarea>
  
  
          </div>
      <button class="submit">Registrar</button>
  </form>
  </div>

  <app-modal-planificacion [data]="data" [comentarios]="comentarios"></app-modal-planificacion>