<!-- <app-loader *ngIf="!flagData"></app-loader> -->

<main id="content2" class="main mb-4" *ngIf="flagList">
  <div class="demo-app" *ngIf="flagList">
    <div class="head">
      <input id="checkbox" (click)="changeList()" type="checkbox" />
      <label class="switch2" for="checkbox">
        <div class="powersign"></div>
      </label>

      <button class="btn-icon" (click)="updteVacation()">
        <img src="/assets/img/icon/ico-vacacion.png" alt="" />
      </button>
      <h3>Listado Vacaciones</h3>
    </div>
    <div class="demo-app-main">
      <full-calendar *ngIf="calendarVisible" [options]="calendarOptions">
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
</main>

<main id="content2" class="main mb-4" *ngIf="!flagList">
  <div class="">
    <div class="table-data" *ngIf="results != null">
      <div class="order">
        <table *ngIf="!flagList">
          <div class="head">
            <input id="checkbox" (click)="changeList()" type="checkbox" />
            <label class="switch3" for="checkbox">
              <div class="powersign"></div>
            </label>

            <button class="btn-icon" (click)="updteVacation()">
              <img src="/assets/img/icon/ico-vacacion.png" alt="" />
            </button>

            <h3>Listado Vacaciones</h3>
          </div>
          <thead>
            <tr>
              <th scope="col" colspan="8"></th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th>Auditor</th>
              <th>Fecha Inicio</th>
              <th>Fecha de Culminación</th>
              <th>Fecha Reintegro</th>

              <!-- <th scope="col" colspan="2">Opciones</th> -->
            </tr>
          </thead>

          <tr *ngFor="let result of vacationUser">
            <td>{{ result.usuario.nombre }} {{ result.usuario.apellido }}</td>

            <td>{{ result.fecha_inicio | fechaNormal2 }}</td>
            <!-- <td>{{result.trimestre}}</td> -->
            <td>{{ result.fecha_culminacion | fechaNormal2 }}</td>
            <td>{{ result.fecha_reingreso | fechaNormal2 }}</td>
            <td>
              <!-- <div class="sub"  >
                                  <button (click)="deleteVacation(result.id_vacacion)"  >
                
                                    <img class="ico-btn"  src="./assets/img/icon/ico-eliminar.png" alt="">
                                    <div class="container-img"></div>
                                    <div class="info">
                                      Eliminar
                                        </div>
                                  </button>
                                  <button (click)="getOneVacation(result)"  >
                                    <div class="container-img">
                                    <img class="ico-btn" src="/assets/img/icon/ico-editar.png" alt=""   >
                
                                    </div>
                
                                    <div class="info">
                                      Editar
                                        </div>
                                  </button>
                                  
                
                              
                                </div> -->
            </td>
          </tr>
        </table>
        <div></div>
      </div>
    </div>
  </div>

  <div class=""></div>
</main>
